body {
    font-family: 'Open Sans', sans-serif;
}

#jumbotron {
    margin-bottom: 25px;
}

#jumbotronin {
    margin: 0px;
    text-align: center;
}

#jumbotronout {
    padding-right: 0px;
    padding-left: 0px;
}

.input-field {
    margin-top: 0px;
    margin-bottom: 5px;
}

.results {
    height: 400px;
    overflow-y: scroll;
}

/* color for the number selected in the calendar so it doesnt belend in with the highlight circle */
.is-selected button {
    color: white;
}

/* for the entryline highlight when selected*/
.material-icons.prefix.active,
.insetlinktext.active,

/* for the dropdown elements in the date picker*/
.dropdown-content li>a,
.dropdown-content li>span,

/* for the color of the date picker*/
.datepicker-table td.is-today,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #6a1b9a;
}

/* background color of the date picker*/
.datepicker-date-display, 
.datepicker-table td.is-selected {
    background-color: #6a1b9a;
}

/* label focus color */

.input-field input[type=text]:focus+label,
.materialize-textarea:focus:not([readonly])+label {
    color: #6a1b9a !important;
}

/* label underline focus color */

.input-field input[type=text]:focus,
.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #6a1b9a !important;
}

.submitbutton {
    margin-bottom: 40px;
    background-color: #6a1b9a;
}

